<%- include('partials/header') -%>

    <h1><strong>Compose</strong></h1>
    <input type="text" name="" value="">
    <button type="submit" name="button">Publish</button>

<%- include('partials/footer') -%>
